<a href="https://colab.research.google.com/github/git-siddhesh/pythonProgrammingClass/blob/master/25_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello naksh")

Hello naksh

In [ ]:
list_of_tuples = [("Name","Siddhesh"),("Address","Jaipur")]

In [ ]:
# (key,value)

In [ ]:
d = dict(list_of_tuples)

In [ ]:
print(d)

{'Name': 'Siddhesh', 'Address': 'Jaipur'}

In [ ]:
marks = [("Naksh",96),("Ajay",89),("Siddhesh",90)]

In [ ]:
marks_dict = dict(marks)
print(marks_dict)

{'Naksh': 96, 'Ajay': 89, 'Siddhesh': 90}

In [ ]:
student

## Implementing the nested dictionaries

In [23]:
studnet = {
    "naksh" : {
        "address" : "jaipur",
        "mobile" : [1231231231,5674574571],
        "total_marks" : 96
    },
    "koibhi" : {
        "address" : " mansarovar",
        "mobile" : [6868474712],
        "total_marks" : 89,
        "scholarship": True
    }
}

In [21]:
studnet["koibhi"]["mobile"]

[6868474712]

In [22]:
studnet["naksh"]["mobile"][1]

5674574571

## Creating a dictionary using two list: 1. keyList 2. ValueList

In [32]:
keyList = ["naksh","koibhi","Shaurya","dong"]
valueList = [89,97,58,46]

z = zip(keyList,valueList)
z1 = z
d = dict(z)
print(d)
print(list(d))

{'naksh': 89, 'koibhi': 97, 'Shaurya': 58, 'dong': 46}
['naksh', 'koibhi', 'Shaurya', 'dong']

In [33]:
d = dict.fromkeys(['name','age'])

In [34]:
d

{'age': None, 'name': None}

In [36]:
print("age" in d)

True

In [37]:
d1 = d.copy()

In [38]:
d1

{'age': None, 'name': None}

In [39]:
dict1 = {
    "name": "siddhesh",
    "age" : 22
}

dict2 = {
    "address" : "jaipur",
    "mobile" : 9893945962
}

In [40]:
dict1.update(dict2)

In [41]:
dict1

{'address': 'jaipur', 'age': 22, 'mobile': 9893945962, 'name': 'siddhesh'}

In [42]:
dict2

{'address': 'jaipur', 'mobile': 9893945962}

In [43]:
dict2

{'address': 'jaipur', 'mobile': 9893945962}

In [44]:
dict2["newKey"] = "newValue"

In [45]:
dict2

{'address': 'jaipur', 'mobile': 9893945962, 'newKey': 'newValue'}

## Assign 1 : To implement update function in dictionary

In [ ]:
def update(dict1,dict2):
  #  ----for, add,
  return dict1

In [ ]:
dict1 = {
    "Name": " siddhesh",
    "College": "SKIT"
}

dict2 = {
    "Branch" : "IT",
    "Section": "B"
}

print(update(dict1,dict2))

In [46]:
for key in dict2:
  print(key,dict2[key])

address jaipur
mobile 9893945962
newKey newValue

In [49]:
D = dict()   # create an empty dictionary
D.setdefault("key1","Value1")    \# setting default value
print(D)

{'key1': 'Value1'}

In [50]:
D2 = dict()
D2["Key2"] = "value2"
D2

{'Key2': 'value2'}

### Assign 2 : implement a dictionary of key as a number and value as its square using for loop

```
# This is formatted as code
```

In [51]:



square_dict = {num : num**2 for num in range(10)}
print(square_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}